html {
	height:100%;
}

body {
  /*padding: 80px 40px;*/
  padding: 50px 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 /* background-image: url('/images/background2.png');*/
	background:#131313;
	/*background-image: radial-gradient(rgba(0, 104, 0, .2) 25%, rgba(0, 104, 0, .2) 25%, rgba(0, 65, 0, 0.2) 50%);*/
	background-image: url('/images/explorer-background.png');
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-size:cover;
}

.limit-width {
	max-width:1920px;
	margin:0 auto;
}

.head {
	padding: 60px 0px;
}
@media(max-width:1141px) {
	.head {
		padding: 100px 0px 60px;
	}
}
@media(max-width:767px) {
	.head {
		padding: 30px 0px;
	}
}
.head .panel {
	border-radius:0 ;
	margin:0;
	box-shadow:0 0 50px 1px rgba(57, 181, 74, .12);
}
@media(max-width:992px) {
	.head .panel {
		margin-bottom: 20px;
	}
}
.head .panel .panel-heading {
	border-radius:0 ;
	padding: 5px 15px 0;
	font-size: .8em;
}
.head .panel .panel-body {
	border-radius:0 ;
	padding: 5px 15px;
	font-size: 1.25em;
	color: #d9d9d9;
}
@media(max-width:1141px) {
	.head .panel .panel-body {
		font-size: 1.15em;
	}
}
@media(max-width:767px) {
	.head .panel .panel-body {
		font-size: 1em;
	}
}
.content {
	padding: 0 0px;
}
@media(max-width:992px) {
	.content {
		padding: 0 0px 50px;
	}
}
@media(max-width:767px) {
	.content {
		padding: 0 0px 90px;
	}
}
.navbar-form {
	width: 100%;
}
@media(min-width:1141px) {
	.navbar-form {
		width: 35%;
	}
}
#search-form {
	width:100%;
}
#search-form input {
	width:100%;
	border-radius: 0;
	background: none;
	border-top: none;
	border-right: none;
	border-bottom: none;
	outline:none;
}
#search-form form {
	/*max-width: 446px;*/
}
#search-form input:focus {
	/*border-color: #282828;*/
	/*color: #888888 !important;*/
	/*-webkit-box-shadow: 0 0 0 30px black inset;*/
	/*-webkit-text-fill-color: #888888 !important;*/
	/*outline:none;*/
}
/* Change the white to any color ;) */
#search-form input:-webkit-autofill,
#search-form input:-webkit-autofill:hover,
#search-form input:-webkit-autofill:focus,
#search-form input:-webkit-autofill:active,
#search-form input:focus,
#search-form input:active {
	-webkit-box-shadow: 0 0 0 30px #000 inset !important;
	-webkit-text-fill-color: #888888 !important;
	border-color: #282828;
	color: #888888 !important;
	outline:none;
}
@media(max-width:1141px) {
	.navbar-form {
		margin-right:0;
		float: none !important;
		padding: 0;
	}
	#search-form form {
		margin: 0 auto;
	}
	#search-form form input {
		/*border:none;*/
		/*border: 1px solid #282828;*/
		border: none;
		border-bottom: 1px solid #282828;
		text-align: center;
	}
}
#search-form button {
	background: none;
	border-radius: 0;
	border: none;
}
.input-group-btn  {
	width:1% !important;
}
#index-search {
	width: 80%;
}

@media(min-width:992px) {
	.col-md-2-4 {
		width: 20%;
	}
}
.nav-search input {
	width: 400px !important;
	margin-right: 5px;	
}

.navbar-fixed-top {
	top: 0;
	border-width: 0 0 0px;
}
.navbar-fixed-bottom {
	border-width: 0 0 0px;
}
.navbar-nav .active:after {
	content: '';
	border-left: 6px solid transparent;
	border-top: 6px solid #000;
	border-right: 6px solid transparent;
	position: absolute;
	left: 39px;
	left: calc(50% - 4.5px);
}

.my-panel {
	background-color: #000;
}

.my-panel .panel-heading {
	color: green;
	background: #000;
}
.my-panel .panel-heading .text {
	color: rgba(0, 104, 0, 1);
}
.my-panel .panel-body {

}
.my-panel {

}
.my-panel {

}

.table-custom-header {
	float: left;
	padding: 11px 0px;
	font-size: 1.4em;
	color: rgba(0, 104, 0, 1);
}
.wrap {
	padding: 0 15px;
}
.wrap #recent-table_length {
	/*padding-top: 7px;*/
}
.wrap .dataTables_length label {
	float:right;
	margin-top: 3px;
}
.wrap .dataTables_length select {
	background: #454444;
	padding: 3px 6px;
	height: 24px;
	border-radius: 0;
}
.wrap input {
	border-radius: 0;
	background: none;
	outline: none;
	margin: 0 5px;
	width: 23em !important;
}
.wrap input:focus {
	border-color: #282828;
	box-shadow: none;
}
table.dataTable {
	margin: 0 !important
}
div.dataTables_info {
	padding: 15px;
	font-size: .95em;
}
div.dataTables_paginate ul.pagination {
	vertical-align: top;
	margin: 5px 0;
}
div.dataTables_paginate ul.pagination .paginate_button a {
	border:none;
	border-radius:0 !important;
	padding: 8px 11px;
	background: none;
}
div.dataTables_paginate ul.pagination .paginate_button.active a {
	background-color: rgba(0, 104, 0, 1);
}






.view_tx {
	text-align: center;
}

.block-last {
	margin: 0;
	margin-right: 10px;
}

.block-next {
	margin: 0;
	margin-left: 10px;
}
#chart3 .jqplot-xaxis {
	display: none;
}

.data {
	display: block;
	overflow: hidden;
	width: 100%;
}

.txid {
	width: 100%;
	display:block;
	overflow: hidden;
}

.panel-address-summary {
 margin-bottom: 5px;
}

/* datatable tweaks */
table {
	width: 100% !important;
}
.dataTables_info, .dataTables_length {
	padding-left: 10px;
}

.dataTables_info {
	display: hidden !important;
}

.dataTables_length {
	padding-top: 7px;
}

.dataTables_paginate {
	padding-right: 5px;
}

.tab-pane {
	/*margin-top: 5px;*/
}

table a:not(.btn),.table a:not(.btn){
	text-decoration:none
}

tr {
	width: 100%;
}

.footer-padding {
	height: 50px;
	width: 100%;
}

.summary-table {
	margin: 0px !important;
}

#loading-icon {
	width: 30px;
    margin: 10px 10px;
}

.menu-text {
	margin-left:5px;
}

#twitter-icon {
	font-size: 20px;
}
#discord-icon {
	font-size: 20px;
}
#telegram-icon {
	font-size: 20px;
}
#bitcoin-icon {
	font-size: 20px;
}
#github-icon {
	font-size: 20px;
}
.connections {
	line-height:3.6;
}
.connections label {
	border-right: 1px solid #303030;
	margin: 0 !important;
	padding: 4px 15px;
	border-radius: 0;
	color: #898989;
}
.connections label.no-border {
	border:none;
}

.connections span {
	color: rgba(0, 104, 0, 1);
}

#lblBlockcount {
	margin-right: 10px;
}

#twitter-icon img{
	width: 40px;
	margin: 5px 5px;
}

#market_menu {
	margin-bottom: 5px;
}

.label a:link {
	color: #ffffff;
}

.label a:visited {
	color: #ffffff;
}

.label a:hover {
	color: #ffffff;
}

.label a:active {
	color: #ffffff;
}

.dev_fund {
	color: #00aa00 !important;
}

.tiny {
	font-size: xx-small;
	margin-top: 3px;	
}

@media(max-width:880px){
	body {
		/*padding: 100px 40px;*/
	}
}
@media(max-width:767px){
	body {
		padding: 0px;
		padding-top:60px;
	}
}

@media(max-width:1096px){
	.nav-search input {
	    width: 300px !important;
    }
}

@media(max-width:865px){
	.nav-search input {
	    width: 150px !important;
    }
}
.qrcode {
	position: absolute;
	top: 65px;
	right: 15px;
}
.qrcode-left {
	position: absolute;
	top: 65px;
	left: 15px;
}
@media(max-width:1540px){
	.qrcode {
		display:none;
	}
	.qrcode-left {
		display:none;
	}
}

.footer-logo {
	height: 40px;
	position: absolute;
	bottom: 0px;
}

.my-footer-navbar {
	float: right;
	margin: 0;
}
@media(max-width:992px) {
	.navbar-nav-mobile {
		text-align:center;
	}
	.navbar-nav-mobile div:first-child {
		display: inline-block;
	}
}

@media(max-width:767px) {
	#index-search {
		margin:0 auto;
	}
	.form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}
}

.coin-info {

}

.coin-info h2 {
	margin: 3px;
	padding: 0;
}

.coin-info h5.sub {
	margin: 0;
	padding: 0;
	color: #ababab;
	font-weight: 400;
	text-transform: uppercase;
}

.coin-info .info-row {
	min-height: 100px;
	padding-top: 10px;
	margin: 10px;
}

.coin-info .row.earnings {
	margin-bottom: 5px;
}

h2, h4, h5, .h2, .h4, .h5 {
	font-family: 'Jura', sans-serif;
	font-size: 15px;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover, a:focus {
	color: #ffffff;
	text-decoration: none;
}

#balance, #received {
	margin-bottom: 56.4px;
}
.glyphicon {
	top:2px;
}

